<!--Navbar-->

<div style="width: 100%">
  <nav>
    <div class="nav-wrapper row s12 z-depth-2">
      <a href="/" class="brand-logo center" style="padding-left: 2%">Webventory</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><em class="material-icons">menu</em></a>
      <ul class="left hide-on-med-and-down">
        <li class="{{home}}"><a href="/userHome">{{username}}'s Home</a></li>
        <li class="{{inventory}}"><a href="/userInventory">Inventory</a></li>
        <li class="{{insights}}"><a href="/userInsights">Insights</a></li>
        <li class="{{users}}"><a href="/userVisability">Item Visability</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <h5 class="right" style="padding-right: 1%; padding-top: 0.125%">
        Hello, {{username}}
      </h5>
    </div>
  </nav>
</div>
<!--End Navbar-->