<!-- Navigation Buttons -->
{% if item_range > 20 %}
<div class="col left">
    <a class="waves-effect waves-light btn-large hoverable" style="background-color: #ee6e73;"
        href="/{{rootPage}}/{{item_id}}/{{item_range|add:'-20'}}"><i
            class="material-icons left">navigate_before</i>Previous</a>
</div>
{% endif %}
{% if items %}
<div class="col right"><a class="waves-effect waves-light btn-large hoverable" style="background-color: #ee6e73;"
        href="/{{rootPage}}/{{item_id}}/{{item_range|add:'20'}}"><i
            class="material-icons right">navigate_next</i>Next</a>
</div>
{% endif %}