{% extends 'home/userHome.html' %}
{% block title %}{{username}}'s Inventory | Webventory{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<!-- Page Layout here -->
<div class="row" style="padding-left : .5%;">
    <div class="container-fluid">
        <div class="col s2 center">
            <ul class="grey lighten-1">
                {% for item in items %}
                <a href="/userInventory/{{item.id}}">
                    <li class="" style="font-size : 25px; align : center;"> {{ item }}</li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col s8 left" style="padding-left: 15%">
            {% if form %}
            <style>
            p {font-size: 40px;}

            </style>
            {{form.as_table}}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}