{% extends 'home/userHome.html' %} {% block title %}{{username}}'s Insights
|Webventory{% endblock %} {% block content %}
{% include 'home/navbar.html' with insights="active" %}
<div class="container-fluid">
  <div class="row" style="padding-left: 0.5%">
    <!-- Inventory Table -->
    <div class="col s6 left">
      {% include 'home/inventoryTable.html' with rootPage="userInsights"%}
    </div>
    <div class="col s6 right container" style="padding-right: 2%; padding-left: 5%">
      {% load static %}
      {% if item %}
      <h2 style="margin-bottom: 40px">{{item.name}} insights</h2>
      {% endif %}
      {%if item and user.username in item.get_user_visibility %}
      <h3>Price Graph</h3>
      <!-- Gives alt Text Font Size -->
      <span style="font-size: 30px; font-weight: bold">
        <img src="{% static price_graph %}" alt="No insights found yet!" />
      </span>

      <h3>Quantity Graph</h3>
      <!-- Gives alt Text Font Size -->
      <span style="font-size: 30px; font-weight: bold">
        <img src="{% static quantity_graph %}" alt="No insights found yet!" />
      </span>
      {% elif not item %}
      <div class="center">
        {% include "home/card.html" with msg="Select an item to see your insights." %}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      {% else %}
      <h3>No insights found yet!</h3>
      {% endif %}
      {% if file_does_not_exist %}
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      {% endif %}
    </div>
    <!-- Table Nav Buttons -->
    {% if not item %}
    <div class="row" style="margin: auto; padding: auto;"></div>
    {% endif %}
    <div class="">
      <div class="col s6 left">
        {% include 'home/tableNav.html' with inventory="inventory" rootPage="userInsights" %}
      </div>
    </div>
    <div class="" style="margin-left: 0px">
      <br />
      <br />
      <br />
      <!-- Item Date Range Search -->
      {% if item %}
      <div class="container-fluid">
        {% load static %}
        <h4>Date Range</h4>
        <form name="dateRange" action="/userInsights/{{item.id}}/" method="post">
          {% csrf_token %}
          <div class="input-field">
            <div class="col s3">
              Start Date:<input id="startDate" type="date" class="datepicker" name="startDate" />
            </div>
          </div>
          <div class="col s3">
            End Date:<input id="endDate" type="date" class="datepicker" name="endDate" />
          </div>
          <div class="center">
            <button type="submit" class="btn btn-small hoverable" style="background-color: #ee6e73;" name="action">
              <i class="material-icons left">search</i>Get Insights
            </button>
          </div>
        </form>
      </div>
      {% else%}
      <div class="container-fluid">
      </div>
      {% endif %}
      <!-- End Date Range -->
    </div>
  </div>
</div>
{% endblock %}