{% extends 'home/userHome.html' %}
{% block title %}{{username}}'s Inventory | Webventory{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<!-- Page Layout here -->
<div class="row" style="padding-left : .5%;">
    <div class="container-fluid">
        <div class="col s2 center">
            <ul class="grey lighten-1">
                {% for item in items %}
                <a href="/userInventory/{{item.id}}">
                    <li class="" style="font-size : 25px; align : center;"> {{ item }}</li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col s9 left" style="padding-left: 5%">
            {% if form %}
            <style>
            label {font-size: 15px; color: black;}
            p{font-size: 15px;}






            </style>

            <form class="col s9" name="ItemEditForm" action="/userInventory/{{item.id}}/edit" method="post">
                {% csrf_token %}
                <p><label for="id_item">ID:</label>
                    <input id="id_item" type="number" name="item" disabled value="{{item.id}}" required></p>
                <p><label for="id_name">Name:</label>

                    <input type="text" name="name" id="id_name" maxlength="30" value="{{item.name}}" required></p>
                <p><label for="description">Description:</label>
                    <input type="text" name="description" id="description" maxlength="100" value="{{item.description}}"
                           required></p>
                <p><label for="price">Price:</label>
                    <input type="number" name="price" id="price" step="any" value="{{item.price}}" required></p>
                <p><label for="user_visability">User Visability:</label>
                    <input type="text" name="user_visability" id="user_visability"
                           value="{{item.user_visability}}">
                </p>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}