{% extends 'home/userHome.html' %}
{% block title %}{{username}}'s Inventory | Webventory{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<!-- Page Layout here -->
<div class="row" style="padding-left : .5%;">
    <div class="container-fluid">
        <div class="col s5 center">
            <br>
            <table id="myTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                {% if item.user_visibility == user.username %}
                <tr>
                    <td><a style="color: black" href="/userInventory/{{item.id}}">
                        {{ item.id }}
                    </a></td>
                    <td><a style="color: black" href="/userInventory/{{item.id}}">
                        {{ item.name }}
                    </a></td>
                    <td><a style="color: black" href="/userInventory/{{item.id}}">
                        {{ item.description }}
                    </a></td>
                    <td><a style="color: black" href="/userInventory/{{item.id}}">
                        {{ item.quantity }}
                    </a></td>
                    <td><a style="color: black" href="/userInventory/{{item.id}}">
                        ${{ item.price|floatformat:2 }}
                    </a></td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <div class="col s5 center" style="padding-right : 5%">
        {%if item %}
        <h1 style="font-size: 75px"><i class="material-icons small" style="font-size : 50px">local_offer</i>
            {{item.name}}</h1>
        <h3>Quantity: {{item.quantity}}</h3>
        <h3>Price per {{item.name}}: ${{item.price|floatformat:2}}</h3>
        <h4><i class="material-icons small" style="font-size: 27px">description</i>Description: {{item.description}}
        </h4>
        {% endif %}
    </div>

    <div class="col s2 container center" style="padding-top:1%;">
        <span>
         <a class="waves-effect waves-light btn-large hoverable" style="background-color: #ee6e73;"
            href="/create"><i class="material-icons right">add</i>Add</a>
         <br>
         <br>
         {% if item %}
             <a class="waves-effect waves-light btn-large hoverable" style="background-color: #ee6e73;"
                href="edit"><i class="material-icons right">edit</i>Edit</a>
            <br>
            <br>
            <a class="waves-effect waves-light btn-large hoverable" style="background-color: #ee6e73;"
                href="delete"><i class="material-icons right">delete</i>Delete</a>
         {% endif %}
         </span>
        <br>
    </div>
    {% if item %}
    <div class="row s1 container right">
        <br>
        <table>
            <thead>
            <tr>
                <th>Date and Time of Change</th>
                <th>Quantity Before</th>
                <th>Quantity After</th>
                <th>Price Before</th>
                <th>Price After</th>
            </tr>
            </thead>
            <tbody>
            {% for itemHistory in itemHistories %}
            <tr>
                <td>{{itemHistory.date_of_change}}</td>
                {% if itemHistory.quantity_after != itemHistory.quantity_before %}
                <td>{{itemHistory.quantity_before}}</td>
                <td>{{itemHistory.quantity_after}}</td>
                {% else %}
                <td>No Change</td>
                <td>No Change</td>
                {% endif %}
                {% if itemHistory.price_after != itemHistory.price_before %}
                <td>${{itemHistory.price_before|floatformat:2}}</td>
                <td>${{itemHistory.price_after|floatformat:2}}</td>
                {% else %}
                <td>No Change</td>
                <td>No Change</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
