{% extends 'home/userHome.html' %}
{% block title %}{{username}}'s Inventory |Webventory{% endblock %}
{% block content %}
{% load static %}
{% include 'home/navbar.html' with inventory="active" %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
<!-- Page Layout here -->
<div class="container-fluid">

    <div class="row" style="padding-left: 0.5%">
        <!-- Inventory Table (s5 spacing) -->
        <div class="col s6">
            {% include 'home/inventoryTable.html' with rootPage='userInventory' %}
            <strong>
                <h5 class="center" style="margin-top: 15px;"><i class="material-icons"
                        style="font-size: 20px;">account_balance</i>Total
                    Assets
                    Worth: ${{total_assets|floatformat:2}}</h5>
            </strong>
        </div>

        <!-- Item Display -->
        <div class="col s4 center">
            {% if item and user.username in item.get_user_visibility %}
            <h1 style="font-size: 75px">
                <i class="material-icons" style="font-size: 50px">local_offer</i>
                {{item.name}}
            </h1>
            <h3>Quantity: {{item.quantity}}</h3>
            <h3>Price per {{item.name}}: ${{item.price|floatformat:2}}</h3>
            <h4 style="margin-bottom: 0;">
                <i class="material-icons" style="font-size: 27px">description</i>Description:
                {{item.description}}
            </h4>
            <p style="font-size: xx-large; margin-top: 10px;">
                Total value of
                {{item.name}}:
                ${{total_item_worth|floatformat:2}}
                </h4>
                {% else %}
                {% include "home/card.html" with msg="Select an item to view more detailed information." %}
                {% endif %}
        </div>
        <!-- Item Options -->
        <div class="col s2 center" style="padding-top: 1%; padding-left: 0; margin-left: 0;">
            <!--bg?  blue-grey lighten-3-->
            {% if item and user.username in item.get_user_visibility %}
            <br>
            <br>
            <br>
            <br>
            {% endif %}
            {% if not item %}
            <br />
            <br />
            <br />
            <br />
            {% endif %}
            <a class="waves-effect waves-light btn hoverable" style="background-color: #ee6e73" href="/create"><i
                    class="material-icons right">add</i>Add</a>
            <br />
            <br />
            {%if item and user.username in item.get_user_visibility %}
            <a class="waves-effect waves-light btn hoverable" style="background-color: #ee6e73" href="edit"><i
                    class="material-icons right">edit</i>Edit</a>
            <br />
            <br />
            <a class="waves-effect waves-light btn hoverable" style="background-color: #ee6e73" href="delete"><i
                    class="material-icons right">delete</i>Delete</a>
            <br />
            <br />
            <a class="waves-effect waves-light btn hoverable" style="background-color: #ee6e73"
                href="/userInsights/{{item.id}}/"><i class="material-icons right">insights</i>Insights</a>
            <br />
            <br />
            <a class="waves-effect waves-light btn hoverable" style="background-color: #ee6e73"
                href="/userVisibility/{{item.id}}/"><i class="material-icons right">person_add</i>Manage Visibility</a>
            {% endif %}
        </div>
    </div>
    <!-- Table Nav Buttons -->
    <div class="row">
        <div class="col s6 left">
            {% include 'home/tableNav.html' with inventory="inventory" rootPage="userInventory" %}
        </div>

    </div>
    {%if item and user.username in item.get_user_visibility %}
    <div class="col s6 right" style="padding-right: .5%;">
        <br />
        <table>
            <thead>
                <tr>
                    <th scope="col">Date and Time of Change</th>
                    <th scope="col">Quantity Before</th>
                    <th scope="col">Quantity After</th>
                    <th scope="col">Price Before</th>
                    <th scope="col">Price After</th>
                </tr>
            </thead>
            <tbody>
                {% for itemHistory in itemHistories %}
                <tr>
                    <td>{{itemHistory.date_of_change}}</td>
                    {% if itemHistory.quantity_after != itemHistory.quantity_before %}
                    <td>{{itemHistory.quantity_before}}</td>
                    <td>{{itemHistory.quantity_after}}</td>
                    {% else %}
                    <td>No Change</td>
                    <td>No Change</td>
                    {% endif %}
                    {% if itemHistory.price_after != itemHistory.price_before %}
                    <td>${{itemHistory.price_before|floatformat:2}}</td>
                    <td>${{itemHistory.price_after|floatformat:2}}</td>
                    {% else %}
                    <td>No Change</td>
                    <td>No Change</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</div>
{% endif %}
</div>

{% endblock %}