{% extends 'home/userHome.html' %}
{% block title %}{{username}}'s Inventory | Webventory{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<!-- Page Layout here -->
<div class="row" style="padding-left : .5%;">
    <div class="container-fluid">
        <div class="col s5 center">
            <table id="myTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                    <td><a style="color: black" href="#">
                        {{ item.id }}
                    </a></td>
                    <td><a style="color: black" href="#">
                        {{ item.name }}
                    </a></td>
                    <td><a style="color: black" href="#">
                        {{ item.description }}
                    </a></td>
                    <td><a style="color: black" href="#">
                        {{ item.quantity }}
                    </a></td>
                    <td><a style="color: black" href="#">
                        ${{ item.price|floatformat:2 }}
                    </a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s7 center" style="padding-left: 5%">
            <style>
            label {font-size: 15px; color: black;}
            p{font-size: 15px;}



            </style>

            <form class="col s9" name="ItemCreationForm" action="/create" method="post">
                {% csrf_token %}
                <p><label for="id_name">Name:</label>
                    <input type="text" name="name" id="id_name" maxlength="30" required></p>
                <p><label for="id_quantity">Quantity:</label>
                    <input id="id_quantity" type="number" name="quantity" required></p>
                <p><label for="description">Description:</label>
                    <input type="text" name="description" id="description" maxlength="100" required></p>
                <p><label for="price">Price:</label>
                    <input type="number" name="price" id="price" step="any" required></p>
                <p><label for="user_visibility">User Visibility:</label>
                    <input type="text" name="user_visibility" id="user_visibility">
                </p>
                <button class="btn waves-effect waves-light hoverable" type="submit" name="action"><i
                        class="material-icons left">add</i>Create Item
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
